
body, html{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}     

/*Logotipo*/
.logo{
    display: flex;
    position: absolute;
    left: 0;    
    margin: 3rem;
    margin-top: 10vh;
}
.logo img{
    width: 15vw;
}


/*Cabeçalho*/
 header {
    background-color: #000000;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 1.5rem ;
    background-image: url(https://cdn.pixabay.com/video/2023/06/25/168811-839864556_tiny.jpg);
    background-size: cover;
    height: 0vh;
}

/*Pagina*/
main {
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    display: flex;
    color: white;
    margin-top: -10vh; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/video/2023/06/25/168811-839864556_tiny.jpg');
    background-size: cover;
    height: 104vh;
}
/*Navegação*/
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 5vh;
    gap:8vw;
    padding: 0;
}
.nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Bebas Neue";
    transition: color 0.3s ease;
    font-size: large;
    gap: 10vw;
    cursor: pointer;
    z-index: 10;
}
.nav ul li a:hover {
    color: #df7000;
}

/*Texto*/
h1{
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 125px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    letter-spacing: 0.7px; 
    margin-top: 40vh;
    margin-left: 152px;
    position: relative;
    z-index: 1 ;
}
/*Linha*/
.linha{
    display: flex;
    align-items: center;
    width: 80vw;
    height: 0.5px;
    background-color: #ffffff;
    margin-top: 5vh;
    margin-left: 5vw;
    position: relative;
}
/*Menu*/
.menu-icon {
    position: absolute;
    margin-top: 3vh;
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon span {
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: 0.3s;
}

.menu-icon span :hover{
    color: #df7000;
}